.wrapper {
  display: flex;
  justify-content: right;
  align-items: center;

  @media (max-width: $sm-xs) {
    justify-content: center;
  }
}

.thumb {
  width: 250px;
  height: 370px;
  object-fit: cover;
}

.name {
  font-size: 1rem;
  text-align: center;
  color: $color-black;

  @media (max-width: 370px) {
    font-size: 0.8rem;
  }
}
