$buttons: (
  'default' $color-primary-100 $color-primary-shadow-100
    $color-primary-shadow-200,
  'delete' $color-red $color-red-shadow-100 $color-red-shadow-200,
  'save' $color-green $color-green-shadow-100 $color-green-shadow-200
);

.button {
  padding: 1rem;
  font-size: 20px;
  font-family: inherit;
  color: $color-lightGray-1;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  cursor: pointer;

  @include mobile {
    font-size: 1rem;
  }

  @include hover {
    color: $color-white;
  }

  .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
  }
}

.withIcon {
  position: relative;
  padding: 1rem 4rem 1rem 1rem;
}

@each $name, $color, $shadow100, $shadow200 in $buttons {
  .#{$name} {
    background-color: $color;
    box-shadow: inset 0.2rem 0.2rem 1rem $shadow100,
      inset -0.2rem -0.2rem 1rem $shadow200, $shadow;

    &:active {
      box-shadow: inset 0.2rem 0.2rem 1rem $shadow200,
        inset -0.2rem -0.2rem 1rem $shadow100;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;

      @include hover {
        background-color: $color;
        color: $color-lightGray-1;
      }

      &:active {
        background-color: $color;
        box-shadow: inset 0.2rem 0.2rem 1rem $shadow100,
          inset -0.2rem -0.2rem 1rem $shadow200, $shadow;
      }
    }
  }
}
