.form {
  height: 95vh;
  padding: 2rem;
  background-color: $color-white;
  border-radius: 20px;
  overflow-y: auto;

  @include tablet {
    height: 75vh;
    padding: 1.75rem;
  }

  @include mobile {
    height: 80vh;
  }
}

.review {
  grid-column: span 2;
}

.button {
  width: 100%;
  padding: 0.8rem;

  @include tablet {
    width: 100%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
