.form {
  padding: 2rem;
  background-color: $color-white;
  border-radius: 20px;

  @include tablet {
    padding: 1.75rem;
  }
}

.review {
  grid-column: span 2;
}

.button {
  width: 100%;
  padding: 0.8rem;

  @include tablet {
    width: 100%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
