.input {
  @include input;

  &[type='number']::-webkit-outer-spin-button,
  &[type='number']::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  &.incorrect {
    border-color: $color-red;
    color: $color-red;
  }
}

.error {
  color: $color-red;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.show {
  opacity: 1;
}
