.textarea {
  max-width: 100%;
  min-height: 152px;
  resize: vertical;

  @include input;

  @include mobile {
    resize: none;
    min-height: 132px;
  }

  &.incorrect {
    border-color: $color-red;
    color: $color-red;
  }
}

.error {
  color: $color-red;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.show {
  opacity: 1;
}
