.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: $color-beige-100;
  border: 2px dashed transparent;
  border-radius: 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;

  @include hover {
    background-color: $color-beige-200;
  }
}

.text {
  width: 70%;
  font-size: 1.13rem;
  line-height: 1.91rem;
  text-align: center;
}

.active {
  background-color: darken($color-beige-200, 10%);
  border-color: $color-black;
}
