.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  @include input;

  cursor: pointer;
}

.text {
  @include mobile {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.error {
  background-color: $input-error-bg;

  &Text {
    color: $color-red-100;
  }
}

.valid {
  background-color: $input-success-bg;
}

.cover {
  display: inline-block;
  margin-top: 0.6rem;
  opacity: 0;
  transition: opacity 0.2s ease;

  &.show {
    opacity: 1;
  }
}
