.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px 30px;

  @include tablet {
    gap: 1.25rem;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 1.08rem;
  }
}
