.movie {
  position: relative;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 0.625rem;
}

.cover {
  width: 200px;
  height: 240px;
  border-radius: 10px;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.14;

  @include mobile {
    font-size: 1rem;
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.detailsModal {
  width: 85%;
  height: 90vh;
  overflow-y: auto;
}

.firstRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favourite {
  position: absolute;
  color: $color-white;
  transition: fill 0.3s ease;
  fill: transparent;

  &Wrapper {
    position: absolute;
    top: 6px;
    right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;

    @include hover {
      background-color: rgba($color-black-2, 0.3);
    }

    &:active {
      background-color: rgba($color-black-2, 0.7);

      svg {
        fill: $color-red-100;
      }
    }
  }

  &.isFavourite {
    fill: $color-red-100;
  }
}
