.movie {
  position: relative;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 0.625rem;
}

.cover {
  width: 300px;
  height: 440px;
  border-radius: 10px;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.14;

  @include mobile {
    font-size: 1rem;
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.iconBtn {
  position: relative;

  &::before {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: $color-primary-100;
    transition: width 0.3s ease;
    content: '';
  }

  @include hover {
    &::before {
      width: 100%;
    }
  }
}

.detailsModal {
  width: 60%;
  height: 90vh;
  overflow-y: auto;

  @include tablet {
    width: 80%;
  }

  @include mobile {
    width: 90%;
  }

  @media (max-width: $xs) {
    width: 100%;
  }
}

.firstRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
