.movie {
  position: relative;
  display: flex;
  gap: 1rem;
  padding: 1.25rem;
  background-color: $color-white;
  border: 2px solid transparent;
  border-radius: 0.625rem;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.cover {
  width: 200px;
  height: 240px;
  border-radius: 10px;
  object-fit: cover;

  @include mobile {
    height: 200px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.14;
  color: $color-black;

  @include mobile {
    font-size: 1rem;
  }
}

.review {
  position: relative;
  height: 195px;
  font-size: 1rem;
  overflow: hidden;

  @include mobile {
    height: 145px;
  }

  &::after {
    position: absolute;
    height: 1.4rem;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: right;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      $color-white 100%
    );
    transition: background 0.3s ease;
    pointer-events: none;
    content: '';
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 0.5rem;

  @media (max-width: $xs) {
    flex-direction: column;
  }
}

.detailsModal {
  width: 85%;
  height: 90vh;
  overflow-y: auto;
}
