.wrapper {
  position: relative;
}

.input {
  @include input;

  margin-bottom: 2rem;
  padding-left: 3.13rem;
  box-shadow: 4px 4px 9px 0px rgba(34, 60, 80, 0.2);
}

.icon {
  position: absolute;
  top: 18px;
  left: 10px;
}

.close {
  @include delete(15px, 10px);

  opacity: 0;
  transition: transform 0.1s ease, opacity 0.3s ease;
  cursor: pointer;

  &::after,
  &::before {
    transition: background-color 0.3s ease;
  }

  @include hover {
    &::after,
    &::before {
      background-color: $color-red-100;
    }
  }

  &:active {
    transform: translateY(-3px);
  }
}

.show {
  opacity: 1;
}
