.label {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  cursor: pointer;

  @include mobile {
    gap: 0.44rem;
  }
}

.span {
  font-size: 1.25rem;
  line-height: 1.42;
  color: $color-gray-300;

  @include mobile {
    font-size: 1rem;
  }
}

.error {
  color: $color-red-100;
}

.valid {
  color: $color-green-100;
}
